<h4>Post details:</h4>
<br/>

<p>
	<%= @row[ 'content'] %>
		<br/>
		<br/>
		Added at <%= @row['created_date'] %>
</p>
<br/>
<h4>Coments:</h4>

<% @comments.each do |comment| %>
	<p>
		<%= comment[ 'content'] %>
		<br/>
		<br/>
		<span style="front-size: 75%; color: #999" > Added at <%= comment['created_date'] %></span>
	
	</p>
	<hr/>
<% end %>

<p>
	<form action="/details/<%= @row['id'] %>" method="POST" role="forms">
	<textarea name="content" 
		class="form-control" rows="6" 
			placeholder="Type comment post text here" 
				style="width: 400px"></textarea>	

	<br/>
	
  <button type="submit" class="btn btn-primary">Add comment</button>
</form>
</p>